
# npm 官网源
# registry=https://registry.npmjs.org/
# 淘宝镜像源
registry=https://registry.npmmirror.com/
# 华为云镜像源
# registry=https://mirrors.huaweicloud.com/repository/npm/
# 智服镜像源

# 本地私有制品库，全局请使用 nrm 创建一个：local-npm
# registry=http://localhost:4873/
