{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "sortJsonKeys": true,
  "importOrder": "^react,^@/,^[./]",
  "plugins": ["prettier-plugin-smarts"]
}
